@model int
@using Chat.Entities.POCOEntities;
<div class="row">
    <div class="col-12">
        <input type="text" placeholder="user" id="user" value="@ViewBag.UserName" 
        disabled />
        <input type="text" placeholder="text" id="message"/>
        <button id="btnSend">
            Send
        </button>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div id="messages">
            @foreach(Message message in ViewBag.messages)
            {
                <div>
                    <b>@message.user.UserName says:</b>
                    @message.content
                </div>
            }
        </div>
    </div>
    <div class="col-6">
        <div id="notifications">
            
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js">
    </script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/Chath").build();
    
    connection.start().then(
        () => {
            connection.invoke("AddToGroup","@Model")
        }
    ).catch((e) => {
    });

    document.getElementById("btnSend").addEventListener("click",(event) => {
        
        let room = "@Model";
        let user = document.getElementById("user").value;
        
        let message = document.getElementById("message").value;
        if(message != ""){
            let encriptedMessage = btoa(message);
            let legible = atob(encriptedMessage);
            connection.invoke("SendMessage",room,user,message).catch(
                (error) => { 
                    
                }

            );
        }

        

        document.getElementById("message").value = "";
        document.getElementById("message").focus();

        event.preventDefault();
        

    });

    connection.on("ReceiveMessage",(user,message) => {
        
        var message = "<div> <b>"+user+" says: </b> "+message+" </div> ";
        document.getElementById("messages").innerHTML = message + document.getElementById("messages").innerHTML;
    });
</script>